* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 25px;
}

#profile {
  height: 200px;
  width: 200px;
  border-radius: 120px;
  padding: 20px;
  border: rgb(248, 243, 243) solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 0;
  transition: width 2s, height 2s, transform 2s;
}
#profile:hover {
  height: 280px;
  width: 280px;
  transform: rotate(360deg);
  border-radius: 100%;
}

.navbar {
  width: 100vw;
  display: flex;
  float: right;
}
.navbar li {
  display: inline-flex;
  padding-left: 50px;
  font-size: 25px;
}
.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
}
.navbar li :hover {
  color: rgb(158, 19, 109);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  border: solid white 2px;
}
.intro {
  width: 100vw;
  height: 90vh;
  border-bottom: solid rgb(54, 52, 54) 2px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}
.skill {
  height: auto;
  width: 100vw;
  flex-basis: inherit;
  text-align: center;
  border-bottom: solid 2px rgb(54, 52, 54);
  display: inline-flex;
  flex-wrap: wrap;
  padding: 25px;
}
.work {
  height: auto;
  width: 100vw;
  flex-basis: inherit;
  text-align: center;
  display: flex;
  border-bottom: solid 2px rgb(54, 52, 54);
}


#skilllist li {
  padding: 20px;
  margin: 25px;
  display: inline-flex;
  width: 12vw;

  justify-content: center;
  border: rgb(54, 52, 54) solid 2px;
  box-shadow: 2px 2px gray;
}

#skilllist li:hover {
  font-size: large;
}


#site li {
  padding: 20px;
  margin: 30px;
  display: inline-flex;
  /* justify-content: center; */
  border: rgb(54, 52, 54) solid 2px;
}
#contact {
  justify-content: center;
}
.intro:hover {
  background-color: rgb(185, 183, 183);
  color: rgb(2, 2, 2);
  border: gray solid 2px;
}
.skill:hover {
  background-color: rgb(185, 183, 183);
  color: rgb(2, 2, 2);
  border: gray solid 2px;
}
.work:hover {
  background-color: rgb(185, 183, 183);
  color: rgb(2, 2, 2);
  border: gray solid 2px;
}
#myintro {
  padding: 50px;
  flex-basis: inherit;
}
#site img {
  height: 200px;
  width: 200px;
}

#contact {
 display:flex;
 display: grid;

}
#contact a {
  text-decoration: none;

}
#contact {
  
}
footer ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
#contact h3,h4,h5 {
  text-align-last: center;
  
}
h4, h3{
  padding: 10px;
  font-size: 30px;
  justify-content: center;
}


@media screen and (max-width: 576px) {
  /* body {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  } */
  .intro {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 576px) {
  .skill {
    display: inline-flex;
  }
  .site,
  #contact {
    inline-size: wrap;
  }
}
@media screen and (max-width: 576px){
  .work{
    display: inline-flex;
  }
}

